.brand-gw .btn-primary {
  background-color: #ac006d;
  border-color: #ac006d;
}

.brand-gw .btn-primary:hover {
  background-color: #7c0852;
  border-color: #7c0852;
}

.brand-gw .btn-primary i {
  color: #fff;
}

.brand-gw .btn-outline-primary {
  border-color: #7c0852;
  color: #7c0852;
}
