.btn-primary {
  background-color: #ac006d;
  border-color: #ac006d;
}

.btn-primary:hover {
  background-color: #7c0852;
  border-color: #7c0852;
}

.btn-primary i {
  color: #fff;
}

.btn-outline-primary {
  border-color: #7c0852;
  color: #7c0852;
}
