---
---

$blue: #339BFA;

$width-tablet: 768px;

@import "utils";

@import "partials/forms";
@import "partials/typography";

@import "modules/grid";
@import "modules/search";
@import "modules/article";
@import "modules/link-list";
@import "modules/footer";
@import "modules/masthead";

body {
  font-size: 18px;
}

a {
  color: $blue;
}

.component {
  margin-bottom: 30px;
}

.page-title {

}

.btn-back {
  display: block;
  margin-bottom: 1rem;
}

.btn {
  // border-radius: 18px;
}
