---
layout: default
title: Submit a support request
---
<h2>Submit a support request</h2>
<p>If you've been unable to find an answer to your question, please fill in this form and a member of the support team can assist you.</p>
<div class="alert alert-warning" role="alert">
  <strong>Note:</strong> it can take up to 48 hours to receive a response.
</div>

<noscript>
  <form>
    <div class="row no-gutters">
      <div class="col-sm-6">
        <fieldset>
          <legend>Your details</legend>
          <div class="form-group">
            <label for="">Name<sup class="required">*</sup></label>
            <input type="text" class="form-control" name="name" value="">
          </div>
          <div class="form-group">
            <label for="">Email address<sup class="required">*</sup></label>
            <input type="email" class="form-control" name="email" value="">
          </div>
        </fieldset>
      </div>
      <div class="col-sm-12">
        <fieldset>
          <legend>Your account and device info</legend>

          <div class="alert alert-info">
            This section is optional, but any information you are able to provide will help to resolve your issue more quickly
          </div>

          <table class="table">
            <tbody>
              <tr>
                <td><label for="field-platform">Platform</label></td>
                <td>
                  <select name="platform" class="form-control" id="field-platform">
                    <option value="-1">Please select...</option>
                    <option value="ios">iOS</option>
                    <option value="android">Android</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="field-device">Device</label></td>
                <td><input type="text" class="form-control" name="device" id="field-device" /></td>
              </tr>
              <tr>
                <td><label for="field-osversion">OS version</label></td>
                <td><input type="text" class="form-control" name="osversion" id="field-osversion" /></td>
              </tr>
              <tr>
                <td><label for="field-appversion">App version</label></td>
                <td><input type="text" class="form-control" name="appversion" id="field-appversion" /></td>
              </tr>
              <tr>
                <td><label for="field-subscriptionstatus">Do you currently have a subscription?</label></td>
                <td>
                  <select class="form-control" name="subscriptionstatus" id="field-subscriptionstatus">
                    <option value="-1">Please select...</option>
                    <option value="subscriber">Yes</option>
                    <option value="nonsubscriber">No</option>
                    <option value="notsure">Not sure</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="field-subscriberid">Subscriber no.</label></td>
                <td><input type="text" class="form-control" name="subscriberid" id="field-subscriberid" /></td>
              </tr>
              <tr>
                <td><label for="field-purchasemethod">Purchase method</label></td>
                <td>
                  <select class="form-control" name="purchasemethod" id="field-purchasemethod">
                    <option value="-1">Please select...</option>
                    <option value="inapp">In-app purchase</option>
                    <option value="buysubscriptions">Purchased on buysubscriptions.com</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>

        <fieldset>
          <legend>Your issue</legend>
          <div class="form-group">
            <label>Describe the problem<sup class="required">*</sup></label>
            <textarea name="description" class="form-control"></textarea>
          </div>
        </fieldset>

        <div class="align-right">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sendcopy">
            <label for="">Email a copy of this message to my inbox</label>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </form>
</noscript>

<div class="form-component nojs-hide">
  <form action="http://dummy.restapiexample.com/api/v1/create" method="POST" v-on:submit.prevent="onSubmit">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <fieldset>
          <legend>Your details</legend>
          <div class="form-group">
            <label for="field-name">Name<sup class="required">*</sup></label>
            <input type="text" class="form-control" name="name" id="field-name" v-model="formValues.name" v-on:keyup="checkFieldValid">
            <div v-if="validationErrorFieldNames.indexOf('name') > -1" class="alert alert-danger">
              This field is required
            </div>
          </div>
          <div class="form-group">
            <label for="field-email">Email address<sup class="required">*</sup></label>
            <input type="email" class="form-control" name="email" id="field-email" v-model="formValues.email" v-on:keyup="checkFieldValid">
            <div v-if="validationErrorFieldNames.indexOf('email') > -1" class="alert alert-danger">
              This field is required and must be a valid email address
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-sm-12">
        <fieldset>
          <legend>Your account and device info</legend>

          <div v-if="!devicedatacaptured" class="alert alert-info">
            This section is optional, but any information you are able to provide will help to resolve your issue more quickly
          </div>
          <p v-else>We'll include this data from your device to enable us to assist with your query more quickly. Information about how we use this data can be found in our <a href="#" target="_blank">privacy policy</a>.</p>

          <table class="table">
            <tbody>
              <tr>
                <td><label for="field-platform">Platform</label></td>
                <td>
                  <select name="platform" class="form-control" id="field-platform" v-model="formValues.platform">
                    <option value="-1">Please select...</option>
                    <option value="ios">iOS</option>
                    <option value="android">Android</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="field-device">Device</label></td>
                <td><input type="text" class="form-control" name="device" id="field-device" v-model="formValues.device" /></td>
              </tr>
              <tr>
                <td><label for="field-osversion">OS version</label></td>
                <td><input type="text" class="form-control" name="osversion" id="field-osversion" v-model="formValues.osversion" /></td>
              </tr>
              <tr>
                <td><label for="field-appversion">App version</label></td>
                <td><input type="text" class="form-control" name="appversion" id="field-appversion" v-model="formValues.appversion" /></td>
              </tr>
              <tr>
                <td><label for="field-subscriptionstatus">Do you currently have a subscription?</label></td>
                <td>
                  <select class="form-control" name="subscriptionstatus" id="field-subscriptionstatus" v-model="formValues.subscriptionstatus">
                    <option value="-1">Please select...</option>
                    <option value="subscriber">Yes</option>
                    <option value="nonsubscriber">No</option>
                    <option value="notsure">Not sure</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="field-subscriberid">Subscriber no.</label></td>
                <td><input type="text" class="form-control" name="subscriberid" id="field-subscriberid" v-model="formValues.subscriberid" /></td>
              </tr>
              <tr>
                <td><label for="field-purchasemethod">Purchase method</label></td>
                <td>
                  <select class="form-control" name="purchasemethod" id="field-purchasemethod" v-model="formValues.purchasemethod">
                    <option value="-1">Please select...</option>
                    <option value="in-app">In-app purchase</option>
                    <option value="buysubscriptions">Purchased on buysubscriptions.com</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>

        <fieldset>
          <legend>Your issue</legend>
          <div class="form-group">
            <label for="field-description">Describe the problem<sup class="required">*</sup></label>
            <textarea name="description" class="form-control" id="field-description" v-model="formValues.description" v-on:keyup="checkFieldValid"></textarea>
            <div v-if="validationErrorFieldNames.indexOf('description') > -1" class="alert alert-danger">
              This field is required
            </div>
          </div>
        </fieldset>

        <div class="align-right">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="field-sendcopy" v-model="formValues.sendcopy">
            <label for="field-sendcopy">Email a copy of this message to my inbox</label>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </form>
</div>
