<div class="accessibility-controls simple-reveal align-right">
  <button class="btn btn-outline-primary simple-reveal__btn accessibility-controls__toggle"><i class="fa fa-cog"></i><span class="tablet-and-up">Accessibility</span></button>
  <button class="btn btn-outline-primary simple-reveal__btn-close accessibility-controls__toggle"><i class="fa fa-times"></i><span class="tablet-and-up">Close</span></button>
  <div class="simple-reveal__content accessibility-controls__content">
    <h3>Accessibility</h3>
    <div class="container">
      <div class="row">
        <div class="col">
          <label for="theme-selector" class="accessibility-controls__label-text">Text/background colour</label>
        </div>
        <div class="col">
          <select class="form-control accessibility-controls__theme-selector" id="theme-selector">
            <option value="default">Default</option>
            <option value="blackyellow">Black text & yellow background</option>
            <option value="blackcreme">Black text & creme background</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
