<aside class="article-aside">
  <h3>Already tried this?</h3>
  <p>If you are still experiencing the problem, contact support using any of the options below.</p>
  <ul class="link-list hide-dots">
    <li class="link-list__item"><i class="fa fa-phone link-list__icon" aria-hidden="true"></i> <a href="#">Call 0800 123 4567</a></li>
    <li class="link-list__item"><i class="fa fa-envelope link-list__icon" aria-hidden="true"></i> <a href="{{ "/submit-request.html" | absolute_url }}">Submit a support request</a></li>
  </ul>
</aside>
