<div class="component">
  <h2>I need help with...</h2>
  <ul class="grid">
    <li class="grid__item"><a href="{{ "/category/subscriptions" | absolute_url }}">
      <span class="grid__item-content">My subscription</span>
    </a></li>
    <li class="grid__item"><a href="{{ "/category/singleissues" | absolute_url }} ">
      <span class="grid__item-content">A single issue I purchased</span>
    </a></li>
    <li class="grid__item"><a href="{{ "/category/promotions" | absolute_url }}">
      <span class="grid__item-content">A deal I purchased</span>
    </a></li>
    <li class="grid__item"><a href="{{ "/category/other" | absolute_url }}">
      <span class="grid__item-content">Something else</span>
    </a></li>
    <li class="grid__item"><a href="{{ "/category/subscriptionquestions" | absolute_url }}">
      <span class="grid__item-content">I have a question about subscriptions</span>
    </a></li>
  </ul>
</div>
