form {
  margin-bottom: 30px;

  .container & {
      width: 100%;
  }
}

fieldset {
  margin-bottom: 20px;
}

input[type=text] {
  border-radius: 0;
  outline: none;
}

textarea {
  min-height: 200px;
}

input[type="search"] {
  margin-bottom: 10px;
}

.required {
  color: red;
}
