.tablet-and-up {

  @media screen and (max-width: $width-tablet - 1) {
      display: none;
  }
}

.mobile-only {

  @media screen and (min-width: $width-tablet) {
    display: none;
  }
}

.align-left {

  @media screen and (min-width: $width-tablet) {
    text-align: left;
  }
}

.align-right {

  @media screen and (min-width: $width-tablet) {
    text-align: right;
  }
}

.gutters-tablet-and-up {

  div[class*="col"] {
    @media screen and (max-width: $width-tablet - 1) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
