.site-footer {
  background-color: #000;
  padding-top: 1rem;

  &__navigation {

  }

  &__navigation-list {
    padding-left: 0;
  }

  &__navigation-list-item {
    list-style: none;
  }

  &__navigation-link {

  }
}
