.masthead {
  margin-bottom: 30px;

  &__logo {
    display: block;
    width: auto;
    height: 32px;
    margin: 20px 0;

    @media screen and (min-width: $width-tablet) {
      height: 80px;
      margin: 20px auto;
    }
  }

  &__search {
    position: absolute;
    right: 4px;
    top: 10px;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;

    @media screen and (min-width: $width-tablet) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 50px;

    @media screen and (min-width: $width-tablet) {
      margin-bottom: 2rem;
    }
  }
}
