.btn-search {

    .col-md-2 & {
      width: 100%;
    }
}

.search-results {
  padding-top: 1rem;
}

input[type="text"] {
  outline: none;
  -webkit-appearance: none;
}

input[name="query"]:focus {
  border-bottom: 1px solid #000;
}
