.brand-tk {

  .btn-primary {
    background-color: #540534;
    border-color: #540534;

    &:hover {
      background-color: #540534;
      border-color: #540534;
    }
  }

  .btn-outline-primary {
    border-color: #540534;
    color: #540534;
  }

  .site-footer {
    background-color: #000;
  }
}
