.brand-gw {

  .btn-primary {
    background-color: #ac006d;
    border-color: #ac006d;

    &:hover {
      background-color: #7c0852;
      border-color: #7c0852;
    }
  }

  .btn-outline-primary {
    border-color: #ac006d;
    color: #ac006d;
  }

  .site-footer {
    background-color: #333;
  }
}
