.brand-lp {

  .btn-primary {
    background-color: #277bba;
    border-color: #277bba;

    &:hover {
      background-color: #277bba;
      border-color: #277bba;
    }
  }

  .btn-outline-primary {
    border-color: #277bba;
    color: #277bba;
  }

  .site-footer {
    background-color: #000;
  }
}
