<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absolute_url }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "css/style.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "css/brand-gardeners-world.css" | absolute_url }}">
  </head>
  <body class="ios">
    {% include masthead.html %}
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="masthead__title">App Support</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}

    <script src="{{ "/js/cookie.js" | absolute_url }}"></script>
    <script src="{{ "/js/accessibility.js" | absolute_url }}"></script>
    <script src="{{ "/js/simple-reveal.js" | absolute_url }}"></script>
    <script src="{{ "/js/branding.js" | absolute_url }}"></script>
    <script>

    const baseurl = '/support-prototype';

    Accessibility.init();
    Branding.apply();

    </script>
  </body>
</html>
