<!DOCTYPE html>
<html lang="en" dir="ltr" class="nojs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absolute_url }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "css/style.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "css/brand-gardeners-world.css" | absolute_url }}">
    <script>var htmlClasses = document.getElementsByTagName('html')[0].classList;htmlClasses.remove('nojs');htmlClasses.add('js');</script>
  </head>
  <body class="ios">
    {% include masthead.html %}
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="masthead__title">App Support</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}

    {% comment %}data in JS{% endcomment %}
    {% include js-data-brand-logos.html %}

    {% comment %} Third-party libraries {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    {% comment %} Application libraries {% endcomment %}
    <script src="{{ "/js/libs/party.js" | absolute_url }}"></script>
    <script src="{{ "/js/libs/cookie.js" | absolute_url }}"></script>
    <script src="{{ "/js/libs/http-request.js" | absolute_url }}"></script>
    <script src="{{ "/js/libs/simple-reveal.js" | absolute_url }}"></script>

    {% comment %} Application modules {% endcomment %}
    <script src="{{ "/js/modules/branding.js" | absolute_url }}"></script>
    <script src="{{ "/js/modules/session.js" | absolute_url }}"></script>
    <script src="{{ "/js/modules/accessibility.js" | absolute_url }}"></script>

    <script>

    const baseurl = '/support-prototype';

    Accessibility.init();
    Branding.init();

    // fetch the parameters passed via URL
    var urlParams = new URLSearchParams(window.location.search);

    // instantiate a new session
    var sesh = new Session({
      platform: urlParams.get('platform'),
      device: urlParams.get('device'),
      appversion: urlParams.get('appversion'),
      subscriptionstatus: urlParams.get('subscriptionstatus'),
      subscriberid: urlParams.get('subscriberid'),
      purchasemethod: urlParams.get('purchasemethod'),
      brand: urlParams.get('brand'),
    });

    // sync to retrieve existing values stored by the session module
    sesh.sync();

    // save the session data
    sesh.save();

    </script>


  </body>
</html>
