<!DOCTYPE html>
<html lang="en" dir="ltr" class="nojs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absolute_url }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "css/style.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "css/override-gardeners-world.css" | absolute_url }}">
    <script>var htmlClasses = document.getElementsByTagName('html')[0].classList;htmlClasses.remove('nojs');htmlClasses.add('js');</script>
  </head>
  <body class="ios">
    {% include masthead.html %}
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="masthead__title">App Support</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{{ "/js/cookie.js" | absolute_url }}"></script>
    <script src="{{ "/js/libs/session.js" | absolute_url }}"></script>
    <script src="{{ "/js/libs/http-request.js" | absolute_url }}"></script>
    <script src="{{ "/js/support-query-data-handler.js" | absolute_url }}"></script>
    <script src="{{ "/js/accessibility.js" | absolute_url }}"></script>
    <script src="{{ "/js/simple-reveal.js" | absolute_url }}"></script>
    <script>

    const baseurl = '/support-prototype';

    Accessibility.init();
    SupportQueryDataHandler.storeDeviceData();

    </script>
  </body>
</html>
